@metacharset "UTF-8"

body{
    background-color: white;
}

header{
    background-color: cornflowerblue;
    border: 2px solid black;
}

#cabeçalho{
    text-align: center;
    color: rgb(11, 48, 117);
    font-size: 50px;
    background-color: cornflowerblue;
    
}

#links{
    text-align: center;
}

#titulo {
    text-align: center;
    color: rgb(11, 48, 117);
    margin-bottom: 1px;
}

a{
    color: rgb(11, 48, 117);
    font-size: 25px;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}

.container {
    border: 2px solid black;
    margin-top: 3%;
    padding: 7%;
    background-color: cornflowerblue;
}

.container > h1 {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    color: rgb(11, 48, 117);
}
footer {
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 2px solid black;
}

footer > p {
    color: rgb(11, 48, 117);
    text-align: center;
}
.container2 {
    border: 2px solid black;
    margin-top: 3%;
    background-color: cornflowerblue;
}

.container2 > h1 {
    color: rgb(11, 48, 117);
    font-size: 40px;
}

.container2 > p {
    color: rgb(11, 48, 117);
    font-size: 20px;
}
.container3 {
    border: 2px solid black;
    margin-top: 3%;
    background-color: cornflowerblue;
}

.container3 > h1 {
    color: rgb(11, 48, 117);
    font-size: 40px;
}
.container3 > p {
    color: rgb(11, 48, 117);
    font-size: 20px;
}