body{
    background-color: lightgray;
}
header{
    background-color: cornflowerblue;
}
#cabeçalho{
    text-align: center;
    color: white;
    font-size: 50px;
}
#links{
    text-align: center;
}
a{
    color: white;
    font-size: 25px;
}
#boasvindas{
    width: 99vw;
    height: 50vh;
    border: 1px solid black;
    position: absolute;
    bottom: 100px;
}
#seja{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bemvindo{
    text-align: center;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}