@metacharset "UTF-8" ;

*{
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}

header{
    background-color: cornflowerblue;
    border: 2px solid black;
}

#cabeçalho{
    text-align: center;
    color: rgb(11, 48, 117);
    font-size: 50px;
    background-color: cornflowerblue;
    border-radius: 30px;
}

#links{
    text-align: center;
}

#titulo {
    text-align: center;
    color: rgb(11, 48, 117);
    margin-bottom: 1px;
}

a{
    color: rgb(11, 48, 117);
    font-size: 25px;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 48, 117);
}
img {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
    border: 2px solid black;
    margin-top: 1%;
    padding: 0%;
    background-color: cornflowerblue;
    border-radius: 30px;
}

.container > h1 {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    color: rgb(11, 48, 117);
}
.container > h2 {
    text-align: center;
    color: rgb(11, 48, 117);
}
#rodapé1 {
    background-color: cornflowerblue;
    bottom: 0px;
    width: 100%;
    border: 2px solid black;
    margin-top: 25px;
    position: fixed;
    
}

footer > p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}
.container2 {
    border: 2px solid black;
    margin-top: 3%;
    background-color: cornflowerblue;
    border-radius: 30px;
}

.container2 > h1 {
    color: rgb(11, 48, 117);
    font-size: 40px;
    margin-left: 25px;
}

.container2 > p {
    color: rgb(11, 48, 117);
    font-size: 20px;
    margin-left: 25px;
}
.container3 {
    border: 2px solid black;
    margin-top: 3%;
    background-color: cornflowerblue;
    border-radius: 30px;
    padding: 3%;
}   

.container3 > h1 {
     color: rgb(11, 48, 117);
     font-size: 40px;
     margin-left: 20px;
}
.container3 > p {
    color: rgb(11, 48, 117);
    font-size: 20px;
    margin-left: 20px;
}
.container4 {
    border: 2px solid black;
    margin-top: 3%;
    background-color: cornflowerblue;
    padding: 3%;
    border-radius: 30px;
}
.container4 > h1 {
     color: rgb(11, 48, 117);
    font-size: 40px;
}
.container4 > ul {
    color: rgb(11, 48, 117);
    font-size: 20px;
}